@using Madrasa.Models
@{
    ViewBag.Title = "Homework First Stage";
    Question question = ViewBag.question;
}

@using (Html.BeginForm())
{   
    @Html.Partial("_HomeworkStateData");
     <input type="hidden" name="questionId" value="@question.id" />   
    <div id="question">
        <div id="question_html">
            @Html.Label(Localization.student.theQuestionIs):
            @Html.Label(question.questionHtml)
        </div>                        
        <div id="user_answer">
            @Html.Label(Localization.student.insertYourAnswer)
            @Html.TextBox("userAnswer")
        </div>   
        <button id="next_question_button" type="submit" />                       
    </div>                                        
}