@using Madrasa.Models;
@{
    ViewBag.Title       = "HomeWorkMaterial";
    HomeworkState state = ViewBag.nextState;
    Material material   = ViewBag.material;
}
<div class="page_content">

<h3>@Localization.student.materialReview</h3>

@using (Html.BeginForm())
{
    @*Send data for server*@
    <input type="hidden" name="baseSubjectId" value="@state.BaseSubjectId" />
    <input type="hidden" name="subjectId" value="@state.SubjectId" />
    <input type="hidden" name="mark" value="@state.Mark" />
    <input type="hidden" name="direction" value="@state.Direction" />
    <input type="hidden" name="homeWorkId" value="@state.HomeworkId" />
    <input type="hidden" name="questionNumber" value="@state.QuestionNumber" />
    
    @*Send material*@
    <div>
            @if(material == null) {
                <text>
                    @Html.Label(Localization.student.error_MaterialNotFound)
                </text>
            } else {
                <text>
                    @Html.Label(Localization.student.materialMessage):
                    @Html.Label(material.ToString())
                </text>
            }
    </div>  
    <button id="next_question_button" type="submit" />                       
}

</div>