@model Madrasa.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">subjectId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subjectId)
    </div>

    <div class="display-label">question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.questionHtml)
    </div>

    <div class="display-label">availableAnswers</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answerJsonArray)
    </div>

    <div class="display-label">rightAnswer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.correctAnswerNum)
    </div>

    <div class="display-label">solution</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.solution)
    </div>

    <div class="display-label">hint</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hint)
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
