@model IEnumerable<Madrasa.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            subjectId
        </th>
        <th>
            question
        </th>
        <th>
            availableAnswers
        </th>
        <th>
            rightAnswer
        </th>
        <th>
            solution
        </th>
        <th>
            hint
        </th>
        <th>
            level
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionHtml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answerJsonArray)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correctAnswerNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
