@model Madrasa.Models.Homework
@using Madrasa.Models

@{
    ViewBag.Title = "AddRemoveHomeWork";
    List<Course> courseList = ViewBag.courseList;
}


<h2>AddRemoveHomeWork</h2>
<script>
    var mainDivName = "AddHomeWorkDiv";
    var subjectIdInput = "subjectId";
    var DefaultString = "General";
    var Model = @Html.Raw(Json.Encode(ViewBag.subjects));
</script>
<script type="text/javascript">
    var DeleteList = [];
    //Event function : when checkbox checked. we add the checked Id
    function addIdToDeleteList(id) {
        //if ID exist in the list remove it from the list
        for (var i = 0; i < DeleteList.length; i++) {
            if (DeleteList[i] == id) {
                DeleteList.pop(id);
                return;
            }
        }
        //if ID not exist add to delete list
        DeleteList.push(id);
    }

    //Event Function
    //
    //sendDeleteList
    function sendDeleteList(input) {
        var div = document.getElementById(input);
        div.innerHTML = "";
        for (var i = 0; i < DeleteList.length; i++) {
            div.innerHTML += '<input type="hidden" name="deleteIdsList[' + i + ']"  value="' + DeleteList[i] + '" />';
        }
    }
</script>



<script>
    function eventSendData(item, id) {
        document.getElementById(id).value = item.value;
    }
</script>
<div style="direction: ltr">
@using (Html.BeginForm())
{
    <div id="InputDiv">
        <input type="hidden" name="deleteIdsList" id="deleteIdsList" value="[]" />
    </div>
    <input  type="submit" name="deleteHomeWorks" onclick="sendDeleteList('InputDiv')"  value="Delete checked homeworks"/>
    <input type="hidden" name="subjectId" id="subjectId" value="" />
    <table>
        <tr>
            <td></td>
            <th>courseId</th>
            <th>
                from
            </th>
            <th>
                to
            </th>
            <th></th>
        </tr>

    @foreach (var item in ViewBag.homeWorks)
    {
        <tr>
            <td>
                <input type="checkbox" onclick="addIdToDeleteList(@item.Id )" />
            </td>
            <td>@item.CourseId</td>
            <td> @item.Start</td>
            <td> @item.End</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
    </table>
    
    <br /><br />
    <table>
        <tr><td></td> <th> homeWork</th></tr>
        <tr>
            <th>Start date: </th>
            <td>@Html.EditorFor(model => model.Start)</td>
        </tr>
        <tr>
            <th>Submission date: </th>
            <td>@Html.EditorFor(model => model.End)</td>
        </tr>
        <tr>
            <th>Homework title:</th>
            <td>@Html.EditorFor(model => model.Title)</td>
        </tr>
        
        <tr>
            <th>Course Id: </th>
            <td>
                @foreach (Course course in courseList)
                {
                    <br/>
                    @Html.RadioButton("courseId", course.Id.ToString())@course.Name
                }
            </td>
        </tr>
    @*  
        <tr>
            <th>Image Url: </th>
            <td>@Html.EditorFor(model => model.image)</td>
        </tr>
    *@
    </table>
    <input  type="submit"  value="Save"/>
   <input  type="hidden" name="schoolId" id="schoolId" value="@ViewBag.schoolId" />
    
}
</div>