@model Madrasa.Models.Homework
@{
    ViewBag.Title = "studentHomeWork";
}

<h2>studentHomeWork</h2>


<table>

@{
    <tr>
        <th>@Html.Label(Localization.student.homeworkName) </th>
        <th>@Html.Label(Localization.student.homeworkStart)</th>
        <th>@Html.Label(Localization.student.homeWorkEnd)</th>
        <td></td>
    </tr>
    foreach (var item in ViewBag.homeWorks)
    {
        <tr>
            <td>@item.title </td>
            <td>@item.start</td>
            <td>@item.end</td>
            <td>@Html.ActionLink(Localization.student.start, "PreSolveHomeWork", new { baseSubjectIndex = 0, homeworkId = item.id })</td>
        </tr>
    }
}
</table>