@model IEnumerable<Madrasa.Models.Homework>

@{
    ViewBag.Title = "Student";
    IEnumerable<Madrasa.Models.Homework>  orderedModel = Model.OrderBy(course => course.Start);
    
}

@section head
{
    <link rel="stylesheet" href="@Url.Content("~/content/css/general.css")" />
}


<div class="container">
    <ol class="subject_collection centered">
        @foreach (var item in orderedModel) 
        {
            bool isHomeworkAvailable = DateTime.Compare(item.Start, DateTime.Now) < 0 && DateTime.Compare(item.End, DateTime.Now) >= 0;
            bool isHomeworkFinished = DateTime.Compare(item.Start, DateTime.Now) < 0 && !isHomeworkAvailable;
            <li>
                <div class="layout_two_columns">
                    <div class="column_left">
                        @*  <div class="date">@Localization.student.submissionDate:  @String.Format("{0:dd/MM/yyyy, HH:mm}", item.end)</div> *@
                        <div class="date">@Localization.student.startDate:  @String.Format("{0:dd/MM/yyyy}", item.Start)</div>
                        <div class="date">@Localization.student.submissionDate:  @String.Format("{0:dd/MM/yyyy}", item.End)</div>
                        @if(isHomeworkFinished)
                        {
                                <text>
                                <div class="date" style="color: red">@Localization.student.homeworkFinished</div>
                                </text>
                                
                        }
                        
                    </div>
                    <div class="column_right">
                        <div class="title">
                            @*check if exam is available then  add link*@
                            @if (isHomeworkAvailable)
                            {
                                <text>
                                    @Html.ActionLink(item.Title ?? @Localization.student.homeworkTitleIsNull, "PreSolveHomework", "homework", new {baseSubjectIndex = 0, homeworkId = item.Id}, null)
                                </text>
                            }
                            else
                            {
                                <text>
                                    @Html.Label(item.Title ?? @Localization.student.homeworkTitleIsNull)
                                </text>
                                if(isHomeworkFinished)
                                {
                                    <text>
                                        <br/>
                                        <br/>
                                        @Html.ActionLink( @Localization.student.homeworkReview, "HomeworkReview", "homework")
                                    
                                    </text>}
                            }
                        </div>

                    </div>
                </div>
            </li>
        }
    </ol>
</div>