@model Madrasa.Models.School

@{
    ViewBag.Title = "AddSchool";
}
<script>
    function eventSendLanguage(item) {
        document.getElementById("languageId").value = item.value;
    }
</script>

<div style="direction:ltr">
<h2>AddSchool</h2>
@using (Html.BeginForm()) {
        <input type="hidden" name="language" id="languageId" value="" />
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.name)</td>
                <td>@Html.TextBoxFor(m => m.name)</td>
            </tr>
           <tr>
                <td>@Html.LabelFor(m => m.language)</td>
                <td>@Html.DropDownList("LanguageList", (SelectList)ViewBag.language, new { onchange = "eventSendLanguage(this)" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.country)</td>
                <td>@Html.TextBoxFor(m => m.country)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.city)</td>
                <td>@Html.TextBoxFor(m => m.city)</td>
            </tr>
        </table>


        

            <p>
                <input type="submit" value="Register" />
            </p>

}</div>