@model Madrasa.Models.SchoolClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Classs</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">schoolId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.schoolId)
    </div>

    <div class="display-label">studentNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.studentNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
