@model IEnumerable<Madrasa.Models.SchoolClass>

@{
    ViewBag.Title = "ViewClass";
    List<string> schoolsName = ViewBag.schoolsName;
    List<int> schoolsId = ViewBag.schoolsId;
}

<script type="text/javascript">
    var DeleteList = [];
    //Event function : when checkbox checked. we add the checked Id
    function addIdToDeleteList(id) {
        //if ID exist in the list remove it from the list
        for (var i = 0; i < DeleteList.length; i++) {
            if (DeleteList[i] == id) {
                DeleteList.pop(id);
                return;
            }
        }
        //if ID not exist add to delete list
        DeleteList.push(id);
    }

    //Event Function
    function sendDeleteList() {
        var list = json_encode(DeleteList);
        document.getElementById("deleteIdsList").value = list;
    }
</script>

<h2>ViewClass</h2>
<div style="direction:ltr">
@using (Html.BeginForm()){
    <input type="hidden" name="deleteIdsList" id="deleteIdsList" value="[]" />
    <input  type="submit" onclick="sendDeleteList()"  value="Delete checked Class"/>
    <table>
        <tr>
            <td></td>
            <th>
                name
            </th>
            <th>
                grade
            </th>
            <th>
                student number 
            </th>
            <th>
                school name
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        int index = schoolsId.IndexOf(item.schoolId);
        <tr>
            <td>
                <input type="checkbox" onclick="addIdToDeleteList(@item.id )" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentNumber)
            </td>
            <td >
                @schoolsName[index]
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) 
            </td>
        </tr>
    }


</table>
}</div>